[client]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
sql-mode=NO_ENGINE_SUBSTITUTION
general-log=true
general-log-file=/tmp/mysql.log

server-id=1
log_bin=1
binlog_format=ROW

gtid_mode=ON
enforce_gtid_consistency=ON

[mysql]
prompt='(primary) [\\d] > '
