[client]
default_character_set=utf8mb4

[mysqld]
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
sql_mode=NO_ENGINE_SUBSTITUTION
general_log=true
general_log_file=/tmp/mysql.log

server_id=1
log_bin=1
binlog_format=ROW

gtid_mode=ON
enforce_gtid_consistency=ON

[mysql]
prompt='(primary) [\\d] > '
